/.metadata/
/.recommenders/
.metadata/
.metadata/.plugins/org.eclipse.swt/
# Eclipse 관련
.metadata/
*.log
*.tmp
*.bak
*.swp
.settings/
*.class
.project
.classpath

# VS Code 관련
.vscode/

# OS / 기타 환경별 불필요한 파일
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Gradle
.gradle/
build/

# Java 관련
*.class

# 로그파일
*.log

# IntelliJ (혹시 쓰는 경우 대비)
.idea/
*.iml
out/

# 기타 캐시나 바이너리 파일
*.bin
*.cache
*.war
*.jar
